{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
  <h1>{{ post.title }}</h1>
  {% if post.is_hidden %}
    <p><em>Этот пост скрыт и доступен только по ссылке</em></p>
  {% else %}
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
  <li class="list-group-item">
              <a href="{% url 'blog:profile' post.author.username %}">
                все посты пользователя
              </a>
            </li>
            {{ post.body|linebreaks }}
            {% if request.user == post.author %}
            <a 
    class="btn btn-primary" 
    href="{{ post.get_absolute_edit_url }}">
      редактировать запись
    </a>
    <a 
    class="btn btn-primary" 
    href="{{ post.get_absolute_delete_url }}">
      удалить запись
    </a>
  {% endif %}
  {% with comments.count as total_comments %}
  <h2>
    Всего комментариев: {{ total_comments }} 
  </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Комментарий {{ forloop.counter }} пользователя {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
    {% empty %}
    <p>Еще нет комментариев.</p>
    {% endfor %}
    {% include "blog/post/includes/comment_form.html" %}
    {% endif %}
{% endblock %}