{% extends 'base.html' %}

{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock %}

{% block content %}
<div class="mb-5">        
    <h1>Все посты пользователя {{ post.author.username }} </h1>
    <h3>Всего постов: {{ post_number }} </h3> 
    {% if author != request.user %} 
    {% if following %}
    <a
    class="btn btn-lg btn-light"
    href="{% url 'blog:profile_unfollow' author.username %}" role="button"
    >
    Отписаться
</a>
{% else %}
<a
class="btn btn-lg btn-primary"
href="{% url 'blog:profile_follow' author.username %}" role="button"
>
Подписаться
</a>
{% endif %}
{% endif %} 
</div>
{% for post in page_obj %}
  <h2>{{ post.title }}</h2>
  <article>
    <ul>
      <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }} 
      </li>
    </ul>
    <p>{{ post.body }}</p>
    <a href="{{ post.get_absolute_url }}">
      подробная информация 
    </a>
  </article>
  {% if not forloop.last %}<hr>{% endif %}
  <!-- Остальные посты. после последнего нет черты -->
{% endfor %}
  {% include 'pagination.html' with page=page_obj %} 
{% endblock %}